
html, body {
    height: 100%;
}

.mega-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.top {
    flex-grow: 1;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

button:focus {
    outline: none;
}

header {
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #fff;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
}

.account {
    display: block;
    background-color: #f16d7f;
    padding-right: 19px;
    padding-left: 19px;
    height: 38px;
    line-height: 38px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    margin-left: 26px;
}

.account:hover {
    filter: brightness(140%);
    transition: all 0.1s;
}

.logo-text {
    margin-left: 13px;
    margin-right: 37px;
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    line-height: 32px;
}

.logo-text-last-letter {
    color: #f16d7f;
    font-weight: 900;
}

.browse img {
    width: 9px;
}

.browse {
    color: #222222;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    box-sizing: border-box;
    background: -webkit-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
    background: -moz-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
    background: -o-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
    background: -ms-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
    background: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
    width: 87px;
    height: 38px;
}

.browse:hover {
    opacity: 0.6;
    transition: opacity 0.1s;
}

.text-search {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 317px;
    height: 37px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
}

.search {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 37px;
    height: 37px;
    position: absolute;
    right: 0;
}

.search:hover {
    background-color: #ccc;
    color: #000;
    transition: all 0.1s;
}

.form {
    display: flex;
    position: relative;
}

.navigation {
    background-color: #ffffff;
}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.menu__link:hover {
    color: #f16d7f;
    padding-bottom: 17px;
    border-bottom: 3px solid #f16d7f;
    transition: all 0.1s;
}

.menu__link {
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    padding: 20px;
}

.home .slider {
    height: 613px;
    background-color: #e8e8e8;
}

.home .slider-flex {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url(../img/slider-back.jpg);
    background-position: 0, -50px;
}

.slider-h2,
.slider-h3 {
    color: #222222;
    font-weight: 900;
}

.slider-h2 {
    font-size: 60px;
    line-height: 43px;
    margin-bottom: 20px;
}

.slider-h3 {
    font-size: 40px;
    line-height: 30px;
}

.box-slider-text {
    margin-top: 224px;
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
}

.fashion {
    color: #f16d7f;
}

.cart:hover {
    opacity: 0.5;
    transition: opacity 0.1s;
}

.offer-large {
    display: block;
    background: #ccc;
    width: 560px;
    height: 542px;
    position: relative;
}

.offer-small {
    display: block;
    background-color: #ccc;
    width: 560px;
    height: 261px;
    position: relative;
}

.offers {
    display: flex;
    justify-content: space-between;
    padding-top: 98px;
    padding-bottom: 100px;
}

.offers > div > a:first-of-type {
    margin-bottom: 20px;
}

.hot-deal {
    background-color: #ffffff;
    height: 82px;
    position: absolute;
    left: 0;
    top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    transition: transform 0.8s;
}

.hot-deal h4 {
    color: #222222;
    font-size: 18px;
    font-weight: 900;
}

.hot-deal h3 {
    color: #f16d7f;
    font-size: 30px;
    font-weight: 900;
}

.featured-items {
    text-align: center;
}

.feat-items-head {
    color: #222222;
    font-size: 30px;
    font-weight: 700;
}

.shop {
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 59px;
}

.men {
    background-image: url(../img/offers_for_men.jpg);
}

.accessories {
    background-color: #dadad2;
    background-image: url(../img/offers_accessories.jpg);
}

.women {
    background-image: url(../img/offers_women.jpg);
}

.kids {
    background-image: url(../img/offers_kids.jpg);
}

.featured-items-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item {
    position: relative;
    text-align: left;
    margin-bottom: 39px;
}

.item .active {
    position: absolute;
    top: 98px;
    display: none;
    justify-content: center;
    width: 263px;
}

.product-name {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 20px;
    padding-left: 14px;
}

.product-price {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    margin-top: 17px;
    padding-left: 14px;
    padding-bottom: 21px;
}

.item:hover {
    background-color: #ffffff;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
    transition: all 0.4s;
}

.item:hover .product-img {
    filter: brightness(50%);
    transition: all 0.4s;
}

.item:hover .active {
    display: flex;
    transition: all 0.4s;
}

.add-to-cart {
    outline-style: solid;
    outline-width: 1px;
    outline-color: #ffffff;
    background-color: rgba(255, 255, 255, 0);
    padding-left: 12px;
    padding-right: 12px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
}

.add-to-cart img {
    padding-right: 8px;
}

.add-to-cart:hover {
    outline-width: 2px;
}

.browse-all {
    display: block;
    background-color: #f16d7f;
    width: 212px;
    height: 48px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding-left: 24px;
    padding-right: 17px;
    margin-top: 50px;
    margin-bottom: 113px;
}

.browse-all img {
    width: 15px;
    height: 7px;
}

.slider-offer {
    display: block;
    background-color: #222224;
    width: 1140px;
    height: 529px;
    background-image: url(../img/30_offer_women.jpg);
    background-repeat: no-repeat;
    margin-bottom: 97px;
    position: relative;
}

.slider-offer-left {
    color: #ffffff;
    font-weight: 700;
    position: absolute;
    top: 146px;
    left: 39px;
    box-sizing: border-box;
}

.slider-offer-left h2 {
    font-size: 53.62px;
}

.slider-offer-left h3 {
    font-size: 32.17px;
}

.slider-offer-left span {
    color: #f16d7f;
}

.slider-offer-right {
    position: absolute;
    top: 0;
    left: 767px;
    padding-top: 48px;
    padding-right: 43px;
    padding-left: 36px;
}

.slider-offer-right img {
    padding-right: 30px;
    float: left;
}

.slider-offer-right h4 {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
}

.slider-offer-right p {
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    overflow: hidden;
    margin-bottom: 54px;
}

.testimonial {
    background-color: rgba(242, 242, 242, 0.5);
    width: 1600px;
    height: 438px;
    background-image: url(../img/testimonial-back-transporent.jpg);
    display: flex;
}

.testimonial-left {
    width: 50%;
    position: relative;
    border-right: 1px solid #ccc;
}

.testimonial-left img {
    float: left;
}

.test {
    color: rgba(34, 34, 36, 0.67);
    font-size: 16px;
    font-style: italic;
    line-height: 28px;
    padding-left: 28px;
}

.pink {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    padding-left: 111px;
}

.test,
.pink,
.sign {
    overflow: hidden;
}

.sign {
    color: #222224;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    padding-left: 111px;
}

.test-pos {
    position: absolute;
    left: 230px;
    top: 111px;
    padding-right: 72px;
}

.pagination {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 41px;
    padding-left: 111px;
}

.strip {
    display: block;
    background-color: #d6d6d6;
    width: 38px;
    height: 4px;
    margin-right: 6px;
    margin-left: 6px;
}

.strip:hover {
    background-color: #f16d7f;
}

.strip-active {
    background-color: #f16d7f;
}

.subscribe {
    box-sizing: border-box;
    padding-top: 148px;
    padding-left: 92px;
}

.subscribe h3 {
    color: #222224;
    font-size: 24px;
    font-weight: 400;
    line-height: 54px;
    text-align: center;
}

.subscribe p {
    color: #222224;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding-bottom: 35px;
}

.subscribe form {
    display: flex;
}

.subscribe input {
    background-color: #e1e1e1;
    width: 334px;
    height: 46px;
    border: none;
    padding-left: 28px;
    padding-right: 28px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    padding-top: 0;
    padding-bottom: 0;
}

.subscribe input:focus {
    outline: none;
}

.subscribe button {
    background-color: #f16d7f;
    width: 104px;
    height: 46px;
    border: none;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 46px;
    text-align: center;
    cursor: pointer;
}

.subscribe button:hover {
    filter: brightness(140%);
    transition: 0.3s;
}

.top-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 109px;
}

.top-footer p {
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 29px;
}

.info h4 {
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

.foot-nav ul {
    list-style: none;
    padding-left: 0;
}

.foot-nav a {
    color: #898989;
    font-size: 16px;
    line-height: 42px;
}

.foot-nav a:hover {
    color: #ef5b70;
}

.brand {
    width: 427px;
}

.bottom-footer {
    background-color: #e6e6e6;
}

.bottom-footer p {
    padding-top: 33px;
    padding-bottom: 32px;
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social a {
    display: block;
    background-color: #fff;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b2b2b2;
    font-size: 16px;
    font-weight: 400;
}

.social a:last-child {
    margin-right: 0;
}

.social a:hover {
    background-color: #f16d7f;
    color: #fff;
}

.bottom-footer-flex {
    display: flex;
    justify-content: space-between;
}

.title-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-flex h2 {
    color: #f16d7f;
    font-size: 24px;
    font-weight: 900;
    line-height: 20px;
}

.breadcrumbs ul {
    display: flex;
    list-style: none;
}

.crumb,
.breadcrumbs {
    color: #636363;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.crumb:hover {
    color: #f16d7f;
    font-weight: 700;
}

.title {
    background-color: #f8f3f4;
    height: 148px;
    display: flex;
    align-items: center;
}

.option {
    margin-bottom: 18px;
}

.option summary {
    width: 243px;
    height: 37px;
    border-left: 5px solid #ef5b70;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 11px;
    padding-right: 3px;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    cursor: pointer;
}

.option summary:focus {
    outline: none;
}

.option summary::-webkit-details-marker {
    display: none;
}

.option summary::after {
    content: '\25BC';
    color: #6f6e6e;
}

.option summary:hover {
    background-color: #f16d7f;
    color: #fff;
}

.option ul {
    list-style: none;
}

.option[open] > summary::after {
    content: '\25B2';
    color: #ef5b70;
}

.option[open] > summary {
    color: #ef5b70;
}

.option[open] > summary:hover {
    color: #fff;
}

.content {
    padding-top: 59px;
}

.category__link {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 33px;
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 10px;
}

.category__link:hover {
    background-color: #f16d7f;
    color: #fff;
}

.side-nav {
    float: left;
}

.filters-flex {
    display: flex;
    justify-content: space-between;
    padding-left: 59px;
    overflow: hidden;
}

.trending__link {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.trending__link:hover {
    color: #ef5b70;
}

.trending span {
    color: #dfdfdf;
    padding-right: 5px;
    padding-left: 5px;
}

.filters-heading {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    padding-bottom: 25px;
}

.trending,
.size-box,
.price-scale {
    margin-top: 10px;
}

.price-scale input {
    width: 262px;
}

.size-flex {
    font-family: OpenSans;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    width: 235px;
    height: 39px;
    flex-wrap: wrap;
    /*    justify-content: space-between;*/
}

.size-flex label {
    padding-left: 9px;
    padding-right: 18px;
}

.regular-checkbox {
    -webkit-appearance: none;
    border-style: solid;
    border-width: 1px;
    border-color: #ebebeb;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 13px;
    height: 13px;
    display: inline-block;
    position: relative;
}

.regular-checkbox:active,
.regular-checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.regular-checkbox:focus {
    outline: none;
}

.regular-checkbox:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #99a1a7;
}

.regular-checkbox:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 0px;
    color: #99a1a7;
}

#l-id {
    margin-right: 20px;
}

#xs-id {
    margin-right: 2px;
}

.sort-flex {
    background-color: #f3f3f3;
    width: 846px;
    height: 50px;
    margin-top: 41px;
    overflow: hidden;
    margin-left: 300px;
    display: flex;
    align-items: center;
}

.price-flex {
    display: flex;
    justify-content: space-between;
    font-family: OpenSans;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.sort-by,
.show {
    border-style: solid;
    border-width: 1px;
    border-color: #ebebeb;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 153px;
    height: 30px;
    margin-left: 10px;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    display: flex;
    justify-content: space-between;
}

.show {
    width: 119px;
}

.sort-by:hover,
.show:hover {
    background-color: #ef5b70;
    color: #fff;
}

.line {
    display: inline-block;
    border-left: 1px solid #ebebeb;
    padding-left: 12px;
}

.filters {
    margin-bottom: 48px;
    overflow: hidden;
}

.content-box {
    overflow: hidden;
    margin-bottom: 110px;
}

.products .featured-items-flex {
    padding-left: 59px;
}

.bottom-buttons {
    display: flex;
    justify-content: space-between;
    padding-left: 59px;
}

.page-nav {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #ebebeb;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffffff;
    width: 261px;
    height: 44px;
    display: flex;
    justify-content: space-between;
}

.page-nav .active {
    color: #ef5b70;
}

.page__link,
.page-nav span {
    color: #c4c4c4;
    font-size: 16px;
    font-weight: 400;
    line-height: 44px;
}

.page__link:hover {
    color: #ef5b70;
}

.view-all {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #ef5b70;
    background-color: #ffffff;
    color: #ef5b70;
    font-size: 16px;
    font-weight: 400;
    line-height: 44px;
    text-align: center;
    padding-left: 45px;
    padding-right: 45px;
}

.view-all:hover {
    color: #fff;
    background-color: #ef5b70;
}

.services {
    background-color: #222224;
    height: 341px;
}

.services-flex {
    display: flex;
    justify-content: space-between;
}

.unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 89px;
}

.unit h4 {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 17px;
}

.unit p {
    color: #fbfbfb;
    font-size: 13.97px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}

.single-page .slider {
    border-style: solid;
    border-width: 1px;
    border-color: #eaeaea;
    box-sizing: border-box;
    background-color: #f7f7f7;
}

.single-page .slider-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    max-height: 777px;
}

.single-page .featured-items {
    margin-bottom: 34px;
}

.prod-arrow {
    background-color: rgba(42, 42, 42, 0.15);
    width: 47px;
    height: 47px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 47px;
    text-align: center;
}

.prod-arrow:hover {
    background-color: #f16d7f;
    transition: all 0.2s;
}

.product-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #eaeaea;
    box-sizing: border-box;
    padding-bottom: 122px;
    padding-top: 73px;
    background-color: #ffffff;
    max-width: 1140px;
    position: relative;
    top: -55px;
    /*margin-bottom: 119px;*/
}

.collection {
    color: #f16d7f;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    padding-bottom: 14px;
    /*    border-bottom: 3px solid #ef5b70;*/
}

.prod-name {
    color: #4d4d4d;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    padding-top: 17px;
}

.short-description {
    color: #5e5e5e;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    width: 618px;
    padding-top: 67px;
    padding-bottom: 28px;
}

.prod-details {
    display: flex;
    justify-content: space-between;
    color: #b9b9b9;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.prod-details h4 {
    padding-right: 22px;
    padding-left: 22px;
}

.prod-details span {
    color: #2f2f2f;
}

.prod-price {
    padding-top: 37px;
    color: #ef5b70;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
}

.divider {
    border-bottom: 1px solid #eaeaea;
    padding-top: 42px;
    width: 642px;
}

.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 63px;
}

.filter input {
    border-style: solid;
    border-width: 1px;
    border-color: #eaeaea;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 144px;
    height: 35px;
    padding-left: 14px;
}

.filter label {
    color: #2f2f2f;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 16px;
}

.filter-flex {
    display: flex;
    justify-content: space-between;
}

.prod-filter {
    display: flex;
    flex-direction: column;
    margin-right: 26px;
    margin-left: 26px;
}

.button {
    display: flex;
    position: relative;
    margin-top: 28px;
    width: 537px;
    height: 55px;
}

.add-button,
.add-button-hover {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #ef5b70;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.add-button img,
.add-button-hover img {
    margin-right: 15px;
}

.add-button {
    background-color: #ffffff;
    color: #ef5b70;
}

.add-button:hover {
    opacity: 0;
}

.add-button-hover {
    background-color: #ef5b70;
    color: #fff;
    opacity: 0;
}

.add-button-hover:hover {
    opacity: 1;
}

.product-heading {
    color: #4d4d4d;
    font-size: 24px;
    font-weight: 900;
    line-height: 20px;
    text-transform: uppercase;
    padding-bottom: 72px;
}

.prod-info img {
    float: left;
    padding-right: 21px;
}

.products-table {
    margin-top: 90px;
    margin-bottom: 44px;
    color: #656565;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.products-table th,
.products-table td {
    border-bottom: 1px solid #eaeaea;
    padding-top: 22px;
    padding-bottom: 25px;
}

.products-table th {
    color: #222222;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
}

.product-cart-name {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    overflow: hidden;
    padding-bottom: 38px;
}

.prod-det {
    color: #6f6e6e;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    overflow: hidden;
    margin: 0;
}

.prod-det span {
    color: #575757;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.prod-info {
    display: block;
}

.prod-info:hover {
    filter: brightness(80%);
    transition: all 0.3s;
}

.prod-info:hover .product-cart-name {
    color: #f16d7f;
}

.prod-info:hover .prod-det > span {
    color: #f16d7f;
}

.prod-quantity {
    border-style: solid;
    border-width: 1px;
    border-color: #eaeaea;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 54px;
    height: 30px;
    color: #656565;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.shut {
    color: #c0c0c0;
}

.shut:hover {
    color: #f16d7f;
    cursor: pointer;
}

.shop-dash {
    display: flex;
    justify-content: space-between;
}

.shop-button {
    border-style: solid;
    border-width: 1px;
    border-color: #eaeaea;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 20px 38px 18px 39px;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 63px;
}

.shop-button:hover {
    color: #fff;
    background-color: #f16d7f;
    border: 1px solid #f16d7f;
}

.mega-menu {
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    position: absolute;
    top: 47px;
    display: none;
    border: 1px solid #e8e8e8;
    z-index: 1;
}

.mega-menu:after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #fff;
    display: block;
    position: absolute;
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    top: -8px;
    left: 40px;
    transform: rotate(45deg);
}

.menu__list {
    position: relative;
}

.menu__list:hover .mega-menu {
    display: flex;
}

.mega-menu__list {
    list-style-type: none;
}

.mega-menu__link {
    color: #646464;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.35px;
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 10px;
}

.mega-menu__link:hover {
    color: #fff;
    background-color: #f16d7f;
}

.mega-menu__heading {
    color: #232323;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 8px;
}

.mega-flex {
    width: 235px;
    margin-right: 46px;
    position: relative;
}

.mega-flex ul {
    padding-left: 0;
}

.mega-flex:last-of-type {
    margin-right: 0;
}

.second-heading {
    margin-top: 15px;
}

.mega-menu__img {
    margin-top: 15px;
    margin-left: -17px;
    position: relative;
}

.mega-menu__img:hover {
    opacity: 0.7;
}

.mega-menu__img__ad {
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 0.55px;
    position: absolute;
    right: 10px;
    bottom: 14px;
    width: 71px;
}

.drop-down {
    display: none;
    width: 262px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    position: absolute;
    left: 0;
    right: 38px;
    box-sizing: border-box;
    padding: 20px;
    z-index: 1;
}

.drop-down ul {
    padding-left: 0;
}

.drop-down:after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #fff;
    display: block;
    position: absolute;
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    top: -6px;
    left: 63px;
    transform: rotate(45deg);
}

.browse-box:hover .drop-down {
    display: block;
}

.browse-box {
    position: relative;
}

.cart-drop {
    display: none;
    width: 262px;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    top: 36px;
    left: -20px;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #e8e8e8;
}

.cart-box:hover .cart-drop {
    display: block;
}

.cart-drop:after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #fff;
    display: block;
    position: absolute;
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    top: -8px;
    left: 32px;
    transform: rotate(45deg);
}

.cart-box {
    position: relative;
}

.goods-number {
    position: absolute;
    top: -10px;
    right: -2px;
    font-size: 12px;
    text-align: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #f16d7f;
    color: #fff;
}

.cart-product__img {
    width: 100px;
    height: 115px;
    float: left;
    padding-right: 15px;
}

.cart-product-image {
    width: 100px;
    height: 115px;
}

.cart-product__img:hover {
    filter: brightness(90%);
}

.star {
    color: #e4af48;
    font-size: 12px;
}

.cart-drop {
    z-index: 1;
}

.cart-drop__heading {
    color: #222222;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.cart-drop__quantity {
    color: #f16d7f;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 12px;
}

.cart-drop-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
}

.cart-drop__total {
    display: flex;
    justify-content: space-between;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 19px;
    margin-bottom: 32px;
}

.cart-product__checkout {
    display: block;
    height: 50px;
    border: 1px solid #f16d7f;
    background-color: #fff;
    color: #f16d7f;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
}

.cart-product__checkout:hover {
    background-color: #f16d7f;
    color: #fff;
}

.cart-product__go-to-cart {
    border: 1px solid #eaeaea;
    display: block;
    height: 50px;
    background-color: #fff;
    color: #4a4a4a;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    margin-top: 11px;
}

.cart-product__go-to-cart:hover {
    background-color: #eaeaea;
}

.address-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 79px;
}

.address-details {
    display: flex;
    flex-direction: column;
    width: 355px;
}

.address-details h3 {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.address-details input {
    width: 319px;
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    margin-bottom: 20px;
    padding-left: 18px;
    padding-right: 18px;
}

.address-details p {
    margin-bottom: 24px;
}

.quote,
.coupon {
    display: block;
    height: 35px;
    line-height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.quote {
    width: 100px;
}

.coupon {
    width: 118px;
}

.quote:hover,
.coupon:hover {
    background-color: #eaeaea;
}

.checkout-box {
    background-color: #f5f3f3;
    text-align: right;
    text-transform: uppercase;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 400;
    box-sizing: border-box;
    padding: 40px;
    width: 360px;
    height: 214px;
}

.checkout-box p {
    margin-bottom: 14px;
}

.checkout-box h3 {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.checkout-box span {
    padding-left: 18px;
}

.checkout-box a {
    display: block;
    background-color: #f16d7f;
    border: 1px solid #f16d7f;
    padding-left: 41px;
    padding-right: 41px;
    padding-top: 14px;
    padding-bottom: 14px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 17px;
}

.checkout-box a:hover {
    color: #f16d7f;
    background-color: #fff;
}

.total-price {
    color: #f16d7f;
}

.total-box {
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 22px;
}

.checkout {
    margin-top: 89px;
    margin-bottom: 93px;
}

.checkout summary {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 39px;
    margin-top: 33px;
    transition: all 0.3s;
}

.checkout summary::-webkit-details-marker {
    display: none;
}

.checkout summary:focus {
    outline: none;
}

.checkout summary:hover {
    cursor: pointer;
    color: #f16d7f;
}

.checkout details {
    border-bottom: 1px solid #e8e8e8;
}

.shipping-address {
    display: flex;
    justify-content: space-between;
}

.invite {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.invite-sub {
    color: #b3b2b2;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.radio-button {
    width: 14px;
    height: 14px;
    border: 2px solid #555555;
    background-color: #ffffff;
    position: absolute;
    opacity: 0;
}

.radio-button:checked ~ .checkmark-radio:after {
    display: block;
    top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #000;
}

.radio {
    position: relative;
}

.checkmark-radio {
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    border: 2px solid #555555;
    background-color: #ffffff;
    border-radius: 50%;
}

.checkmark-radio:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-box {
    margin-top: 34px;
    margin-bottom: 34px;
}

.radio-button-label {
    color: #222222;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 35px;
}

.ship-address__button {
    width: 180px;
    height: 50px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    margin-bottom: 79px;
}

.ship-address__button:hover {
    background-color: #f16d7f;
    border: 1px solid #f16d7f;
    color: #fff;
    cursor: pointer;
}

.radio-box {
    display: flex;
    flex-direction: column;
}

.top-radio {
    padding-bottom: 20px;
}

.fast-n-easy {
    margin-top: 33px;
    margin-bottom: 38px;
}

.fast-n-easy p {
    padding-top: 0px;
    padding-bottom: 6px;
}

.emais-n-pass {
    margin-top: 27px;
    margin-bottom: 22px;
    display: flex;
    flex-direction: column;
}

.emais-n-pass input {
    width: 360px;
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 16px;
}

.emais-n-pass span {
    color: #ff0d0d;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
}

.reg-details {
    color: #222222;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.required {
    color: #ff0d0d;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 32px;
}

.forgot {
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 32px;
}

.forgot:hover {
    color: #f16d7f;
    font-weight: 500;
}

.transform_scale {
    transition: transform 0.3s;
}

.transform_scale:hover {
    transition: transform 0.3s;
    transform: scale(1.1);
}

.transform_scale_large {
    transition: transform 0.3s;
}

.transform_scale_large:hover {
    transition: transform 0.3s;
    transform: scale(1.05);
}

.transform-all_transition,
.transform-all_transition:hover {
    transition: all 0.3s;
}

.transform_rotate {
    transition: transform 0.8s;
}

.transform_rotate:hover {
    transform: rotate(360deg);
}

.rotate-scale-up:hover,
.offer-large:hover .hot-deal,
.offer-small:hover .hot-deal {
    -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
    animation: pulsate-fwd 0.5s ease-in-out infinite both;
}

@-webkit-keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.form-group {
    padding-left: 0;
    margin-bottom: 1rem;
}

.form-group textarea {
    height: 120px;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    outline: none;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #f16d7f;
    border-color: #f16d7f;
}

.btn-primary:hover {
    background-color: #F18B95;
    border-color: #F18B95;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background: #99a1a7;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    /*max-width: 50%;*/
}

#comments {
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.comments {
    text-align: center;
}

.comment {
    padding: 15px;
    width: 250px;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px darkgrey;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.not-approved {
    background: #e0e0e0;
    color: grey;
}

.approved {
    color: black;
    background: #f7f7f7;
}

.remove-btn {
    margin: 15px;
}

.comments-form {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

#my-form {
    width: 420px;
}